<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submitted h3ck Ph4se Survey Form</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="success/style.css">
</head>
<body>
    <div class="container">
        <div class="item">
            <h2 id="title" class="text-center">Registration success</h2>
            <p id="description" class="description text-center">
                Congratulations <%= name %>. You have successfully registered your school to the Orbital Node platforms
            </p>
        </div>
        <a href="/">Back to site</a>
    </div>
</body>
</html>